html,
body,
.aa,
.container-fluid,
#sidebar-wrapper {
  height: 100%;
}

.b-tile-item {
  background-image: url("../img/tile/grass-earth.png");
  background-size: 120px;
  border: 2px solid black;
}

#main-board {
  height: max-content;
  width: max-content;
  border: 1px solid black;
  display: grid;
  position: relative;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.holder {
  margin: 0 auto;
  width: 100px;
  position: relative;
}

#sidebar-wrapper {
  background-color: black;
}

.box-tools {
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid gray;
  border-radius: 60px;
  margin: 0 auto;
  top: 10px;
  position: relative;
  margin-bottom: 20px;
  object-fit: cover;
}

.box-tools-pick {
  width: 70px;
  height: 70px;
  background-size: 70px;
  border: 2px solid white;
}

.box-tools-pick-permitted {
  box-shadow: 0 0 10px 5px green;
}

.box-tools-pick-un-permitted {
  box-shadow: 0 0 10px 5px red;
}

ul {
  list-style-type: none;
}

#axe {
  background-image: url("../img/tools/axe.png");
}

#shovel {
  background-image: url("../img/tools/shovel.png");
}

#pickAxe {
  background-image: url("../img/tools/Pickaxe.png");
}

.box-inventory {
  border: 1px solid white;
  width: 32px;
  height: 32px;
  border-radius: unset;
  display: inline-block;
}

.box-inventory-picked{
  box-shadow: 0 0 10px 5px blue;
}

.tile {
  background-size: 100px;
}

#inventory-title {
  color: white;
}
.soil {
  background-image: url("../img/tile/soil.png");
}

.grass {
  background-image: url("../img/tile/grass.png");
}

.stone {
  background-image: url("../img/tile/stone.png");
}

.treeTrunk {
  background-image: url("../img/tile/treeTrunck.png");
}

.treeBranch {
  background-image: url("../img/tile/treeBranch.png");
}

.sky {
  background-image: url("../img/tile/sky.png");
}

.style_inventory_count {
  color: white;
  display: inline-block;
}

.cursor {
  position: absolute;
  cursor: none;
  pointer-events: none;
 }