html,
body,
.aa,
.container-fluid,
#sidebar-wrapper {
  height: 100%;
}

.b-tile-item {
  background-image: url("../img/tile/grass-earth.png");
  background-size: 120px;
  border: 2px solid black;
}

.b-row {
  /* grid-row: 1; */
}

.b-col {
  /* grid-column: 1; */
}

.main_board {
  height: max-content;
  width: max-content;
  border: 1px solid black;
  display: grid;
  position: relative;
  grid-template-columns: repeat(5,30px);
  grid-template-rows: repeat(5,30px);
}

.holder {
  margin: 0 auto;
  width: 100px;
  position: relative;
}

#sidebar-wrapper {
  background-color: black;
}

.box_tools {
  width: 102px;
  height: 102px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 auto;
  top: 50px;
  position: relative;
  margin-bottom: 20px;
  object-fit: cover;
}

#axe {
  background-image: url("../img/tools/axe.png");
}

#shovel {
  background-image: url("../img/tools/shovel.png");
}

#pickaxe {
  background-image: url("../img/tools/Pickaxe.png");
}

.box_tools:hover {
  box-shadow: 0 0 16px 15px blue;
}
